html,
body {
  height: 100%;
}

#footer {
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  background: #efefef;
  font-size: 19px;
  background-size: 10px;
}

#baslik {
  text-align: center;
  font-size: 2rem;
  color: #ed7b7b;
}

body {
  background-color: #ffeecc;
}

nav {
  text-align: center;
  background-color: #900c3f;
  height: 20px;
  cursor: pointer;
  
}

a {
  margin: 50px;
  color: #fff; 
  text-decoration: none;
  position: static;
}

#about {
  font-size: 20px;
  color: #900c3f;
}

#anasayfa-ilk-paragraf {
  text-align: center;
  font-size: 20px;
}

#telefonlar {
    text-align: center;
}

#bilgisayar{
    text-align: center;
}